/*******************************************************************************\
* Fichier       : /CSS/header.css
*
* Description   : Fichier CSS inclu dans Head.php, pour du css header
* Fonction      : -.
*
* Créateur      : Lucas DRUCKES
\*******************************************************************************/
/*******************************************************************************\
* 28-03-2022    : Création fichier
\*******************************************************************************/

.nav-custom-link:hover{
    border-color: green!important;
}.nav-custom-link>a:hover {
    color: green!important;
}

.buttonFooter{
    -webkit-appearance: none!important;
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    border: none!important;
    outline: none!important;
    box-shadow: none!important;
    user-select: none!important;
}
.buttonFooter:focus{
    outline: none!important;
    box-shadow: none!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
